.header{
    background: #1C1C1C;
    border-radius: 7px 7px 0px 0px;
    width: 90%;
    position:fixed;
    display: flex;
    top: 21px;
    left: 5%;
    z-index: 1;
  }
  .logo{
    left: 253px;
    top: 12px;
    width: 80px;
    height: 80px;
  }
  .boutique{
    position: absolute;
    top: 10px;
    left: 350px;
    color: var(--primary-color);
    font-weight: 500;
  }
  .store{
  
    left: 385px;
    top: 50px;
  }
  .background-black-left{
    width: 40%;
    align-items: center;
    height: 60px;
    flex-shrink: 0;
    border-radius: 7px 7px 0px 0px;
    background: #000;
    z-index: 999;
  }
  .background-black-right{
    width: 40%;
    align-items: center;
    height: 60px;
    flex-shrink: 0;
    border-radius: 7px 7px 0px 0px;
    background: #f1ebeb;
    z-index: 999;
  }
  .background-grey{
    width: inherit;
    height: 40px;
    flex-shrink: 0;
    background: var(--gray-color);
  }
  .header-top{
    width: inherit;
    height: 15px;
    flex-shrink: 0;
    position: absolute;
    top: 18px;
    left: 650px;
    }
  .navTop{
    display: flex;
  }
  .navTop li{
    list-style-type: none;
    font-family: "Nunito";
    font-style: normal;
    line-height: normal;
    margin-left: 70px;
  }
  .navTop a{
    color: var(--text-color);
    font-size: 18px;
    text-align: center;
    font-weight: 600;
  }
  .header-bottom{
    width: 100px;
    height: 15px;
    flex-shrink: 0;
    position: absolute;
    top: 70px;
    left: 650px;
    }
  .navBottom{
    display: flex;
  }
  .navBottom li{
    list-style-type: none;
    font-family: "Roboto";
    font-style: normal;
    line-height: normal;
    margin-left: 30px;
  }
  .navBottom a{
    color: var(--primary-color);
    font-size: 14px;
    text-align: center;
    font-weight: 300;
  }
  .navBottom button a{
    color: white;
    font-size: 12px;
    font-weight: 700;
  }
  .navBottom button{
    background-color: var(--primary-color);
    position: absolute;
    top: -5px;
    border-radius: 20px;
    padding: 5px 15px; /* Adjust padding to control button size */
    border: none;
  
  }
  .navTop a :hover{
      color: #747bff;
  }